.bigContainer{
    display: flex;
    flex-direction: column;
}

.caixinhascontainer {
    width: 800px;
    margin-top: 35px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.caixinhascontainer h2{
    font-size: 32px;
}
  

.addbutton{
    background-color: #4cd080;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-style: roboto;
    height: 42px;
    margin-left: 20px;
    margin-right: 20px;
} 



.addbutton:hover{
    background-color: rgb(25, 164, 25);
}


.modaloverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Borrar o fundo */
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.modalcontent {
    background-color: #4cd080;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 90%;
    max-width: 500px;
    flex-direction: column;
}


.modalcontent2{
    background-color: #fb3333;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 90%;
    max-width: 500px;
    flex-direction: column;
}


.delbutton {
    background-color: #fb3333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 42px;
}

.delbutton:hover{
    background-color: #e12f2f;
}

.closebutton{
    background: none;
    border: none;
    cursor: pointer;
}

.closeoption{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.options{
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    margin-top: 35px;
    padding-bottom: 8px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 32px;
}

.optionstext{
    font-size: 22px;
}