.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 120px;
}

.icon{
    margin-left: 65px;
    margin-right: 400px;
}

.resto{
    display: flex;
    width: 65%;
    height: auto;
    align-items: center;
    justify-content: space-evenly;
}


.text{
    margin-right: 30px;
}

.Content1{
    display: flex;
    align-items: center;
}

.Content2{
    display: flex;
    align-items: center;
}