.header {
    background-color: #4cd080;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .headerlogo {
    font-family: "Roboto";
    font-size: 40px;
    color: white;
    font-weight: bold;
    font-style: italic;
}
  