@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
    border: 0;
}

.container{
    width: 700px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 25px;
}


.ola{
    font-size: 22px;
    margin-bottom: 20px;
}

.saldoTotal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 30px;
}

.meusSaldos{
    font-size: 22px;
}

.bancos{
    margin-bottom: 10px;
    max-height: 250px;
    overflow-y: auto;
}

.banco{
    display:flex;
    flex-direction: row;
    height: 50px;
}

.img{
    margin-left: 10px;
}

.nome{
    margin-left: 25px;
}

.saldo{
    margin-left: auto;
    margin-right: 30px;
}

.modal{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    font-size: 16px;
    color: #4cd080;
}


.btn{
    background-color: transparent;
    border: none;
    color: #4cd080;
    font-size: 16px;
    cursor: pointer;
    padding: 0;
}

.modaloverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Borrar o fundo */
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.modalcontent {
    background-color: #4cd080;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 90%;
    max-width: 500px;
    flex-direction: column;
}


.modalcontent2{
    background-color: #fb3333;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 90%;
    max-width: 500px;
    flex-direction: column;
}


.delbutton {
    background-color: #fb3333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 42px;
}

.delbutton:hover{
    background-color: #e12f2f;
}

.closebutton{
    background: none;
    border: none;
    cursor: pointer;
}

.closeoption{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
}